/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a {
    text-decoration: none !important;
    cursor: pointer;
}


body {
    font-family: 'Inter', sans-serif !important;
}

input {
    outline: none;
}
/* HEADER */
header {
    background-color: #0e0e0e;
    font-family: Inter;
    font-size: 18px;
    font-weight: normal; 
}

header nav {
    justify-content: space-between; 
}

header nav div a img {
    width: 148px; 
}
header nav div div ul li a {
    color: #f6f5e9; 
}

header nav div div ul li a:hover {
    color: #FFB400 !important; 
}

/* MAIN */
main{
    background-color: #f6f5e9;
}
.titulo{
    font-size: 40px;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    margin: 0px;
    padding: 8px 0px 8px 0px;
}

.newCollection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.newCollection img{
    width: 1200px;
    margin-bottom: 20px;
}

/* FRAGANCIAS */

.fragancias{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.divPerfumes{
    width: 440px;
    height: auto;
    border: 2px #0e0e0e solid;
    margin: 16px 0px 16px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}


.divPerfumes img{
    width: 400px;
}

.divPerfumes h2{
    font-weight: 500;
    font-size: 30px;
    margin: 6px;
}

.divPerfumes a{
    background-color: #32dd32;
    color: #0e0e0e;
    font-size: 25px;
    margin: 10px;
    transition: 300ms;
}

.divPerfumes a:hover{
    background-color: #26ff26;
    color: #0e0e0e;
}

.divPerfumes a i{
    font-style: normal;
    padding: 20px;
}

.divPerfumes p{
    text-align: justify;
    width: 400px;
    margin-top: 5px;
    margin-bottom: 1rem;
}

.gold{
    margin-top: 50px;
    padding-bottom: 50px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.gold h2 {
    font-size: 70px;
    font-style: bold;
    margin: 0px;
    padding: 8px 0px 8px 0px;
}
.gold img {
    width: 1300px; 
}
.gold div {
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 0px;
}

.gold a{
    align-self: self-start;
}
.gold a i{
    font-style: normal !important;
    color: #0e0e0e;
    transition: 300ms;
}

.gold a i:hover {
    color: #FFB400; 
}

.producto_5{
    display: none;
}

/* FOOTER */
footer {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Inter', sans-serif;
    color: #f6f5e9a4;
    font-size: 20px;
    background-color: #0e0e0e;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "navFooter redesSociales extra";
    place-items: start center; 
}
footer .navFooter .tituloFooter, footer .redesSociales .tituloFooter, footer .extra .tituloFooter {
    color: #f6f5e9;
    margin-bottom: 8px; 
}
footer .navFooter li a, footer .redesSociales li a, footer .extra li a {
    color: #a0a0a0;
    transition: 330ms; 
}
footer .navFooter li a:hover, footer .redesSociales li a:hover, footer .extra li a:hover {
    color: #f6f5e9;
    font-size: 20.4px;
}


/* MODAL */
#cesta-carrito {
    border: none;
    color: #f6f5e9;
    font-size: 26px;
    background-color: transparent;
    justify-self: flex-end;
    transition: 300ms;
    position: absolute;
    top: 16px;
    right: 16px;
}

#cesta-carrito:hover {
    cursor: pointer;
    color: #FFB400;
}

#cesta-carrito:focus {
    outline: none;
}

#producto-contenedor {
    display: grid;
    gap: 1rem;
    max-width: 60rem;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modalContenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.modalCarrito {
    position: relative;
    background-color: #f6f5e9;
    min-width: 600px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.modal-active .modalCarrito {
    margin-top: 0;
}

.modalCarrito h3 {
    color: rgb(225, 76, 65);
    padding-bottom: 5px;
}

.modalCarrito #btnCerrar {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #FFB400;
    border: none;
    background-color: transparent;
}

.modalCarrito #btnCerrar:hover {
    cursor: pointer;
    color: rgb(180, 0, 0);
    transition: 320ms;
}

.modalCarrito #btnCerrar:focus {
    outline: none;
}

.modalCarrito .precioProducto {
    padding-top: 10px;
}

.productoEnCarrito {
    border-left: 5px solid #FFB400;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.nombrePrecio p{
    margin-bottom: 0px !important;
}

.cantidadEliminar{
    width: 140px;
    display: flex;
    justify-content: space-between;
}

.cantidadEliminar p{
    align-self: center;
    margin: 0px !important;
}

.productoEnCarrito:hover {
    border-left: 5px solid rgb(180, 0, 0);
}

.btnEliminar {
    width: 35px;
    height: 35px;
    font-size: 24px;
    background-color: #FFB400 !important;
    color: white !important;
    background-color: transparent;
    align-self: center;
}

.btnEliminar:hover {
    cursor: pointer;
    background-color: rgb(180, 0, 0) !important;
}

.btnEliminar:focus {
    outline: none;
}

#botonesFinales{
    display: flex;
    justify-content: space-between;
}

.eliminarTodo, .finalizarCompra {
    background-color: #FFB400;
    border-radius: 6px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.15;
    overflow: visible;
    padding: 12px 16px;
    text-transform: none;
    transition: all 300ms;
}

.eliminarTodo:hover, .finalizarCompra:hover{
    background-color: #1652F0;
    color: #FFFFFF;
}


/* RESPONSIVE */
@media screen and (max-width: 1800px) {
    main .fragancias {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat 2, 1fr;
        grid-template-areas: 
        "men ocean"
        "sunset night"; } 
}
@media screen and (max-width: 1500px) {
    main .newCollection img {
        width: 1000px; }
    main .gold img {
        width: 1000px; }
    main .gold div {
        width: 1000px; } 
}

@media screen and (max-width: 1170px) {
    main .newCollection img {
        width: 900px; }
    main .fragancias .divPerfumes {
        width: 360px; }
    main .fragancias .divPerfumes a {
        font-size: 18px; }
    main .fragancias .divPerfumes p {
        width: 300px; }
    main .fragancias .divPerfumes .perfumes {
        width: 300px; }
    main .gold {
        margin-top: 20px;
        padding-bottom: 20px; }
    main .gold img {
        width: 900px; }
    main .gold div {
        width: 900px; } 
}

@media screen and (max-width: 1150px) {
    main .titulo {
    font-size: 30px; } }

@media screen and (max-width: 1000px) {
    main .accordion .accordion-item {
    width: 750px; }
    main .accordion .accordion-item .collapse .accordion-body {
        font-size: 18px; } }

@media screen and (max-width: 991px) {
    #cesta-carrito{
        top: 26px;
        right: 76px;
    }
    footer {
        font-size: 15px; 
    } 
}

@media screen and (max-width: 950px) {
    main .newCollection img {
        width: 800px; }
    main .fragancias .divPerfumes {
        width: 350px; }
    main .fragancias .divPerfumes p {
        width: 290px; }
    main .fragancias .divPerfumes .perfumes {
        width: 290px; }
    main .gold {
        margin-top: 15px;
        padding-bottom: 15px; }
    main .gold img {
        width: 800px; }
    main .gold div {
        width: 800px; } 
}

@media screen and (max-width: 850px) {
    main .newCollection img {
        width: 700px; }
    main .fragancias {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "men"
        "ocean"
        "sunset"
        "night"; }
    .modalCarrito{
        min-width: 500px; }
    main .fragancias .divPerfumes {
        width: 340px; }
    main .fragancias .divPerfumes p {
        width: 280px; }
    main .fragancias .divPerfumes .perfumes {
        width: 280px; }
    main .gold {
        margin-top: 11px;
        padding-bottom: 11px; }
    main .gold img {
        width: 700px; }
    main .gold div {
        width: 700px; } 
}

@media screen and (max-width: 800px) {
    header {
        font-size: 15px; }
    header nav div a img {
        width: 120px; }
    main .accordion .accordion-item {
        width: 600px; }
    main .accordion .accordion-item .collapse .accordion-body {
        font-size: 16px; } 
    #cesta-carrito{
        top: 19px;}
}


@media screen and (max-width: 750px) {
    main .newCollection img {
        width: 500px; }
    main .gold {
        margin-top: 8px;
        padding-bottom: 8px; }
    main .gold h3 {
        font-size: 40px; }
    main .gold img {
        width: 500px; }
    main .gold div {
        width: 500px; }
    main .gold div p {
        font-size: 15px; } 
}

@media screen and (max-width: 540px) {
    .modalCarrito{
        min-width: 420px;
    }
}
@media screen and (max-width: 520px) {
    main .newCollection {
        display: none; }
    main .fragancias .divPerfumes {
        box-shadow: none; }
    main .fragancias .producto_5 {
        display: inline-flex; }
    main .gold {
        display: none; } 
}

@media screen and (max-width: 450px) {
    main .fragancias .divPerfumes {
        width: 330px; }
    main .fragancias .divPerfumes a {
        font-size: 14px; }
    main .fragancias .divPerfumes p {
        width: 260px; }
    main .fragancias .divPerfumes .perfumes {
        width: 260px; }
    .modalCarrito{
        min-width: 365px; }
    footer {
        font-size: 10px; } 
}

.contenedorTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto{
    margin: 0px !important;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    font-size: 40px !important;
    color: #0e0e0e;
    text-decoration: none !important;
    cursor: pointer;
    position: absolute;
}

.material-symbols-outlined:hover {
    text-decoration: none;
    color: #0e0e0e;
}

.divForm{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#form{
    width: 800px;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.field {
    margin-bottom: 10px;
}

.field label {
    display: block;
    font-size: 18px;
    color: #0e0e0e;
}

.field input {
    display: block;
    height: 35px;
    width: 750px;
    line-height: 1.5;
    font-size: 25px;
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 20px;
    background-color: #4460AA;
    color: #fff;
    border: none
}

#productoContenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}


.productosFinales{
    border: 2px solid black;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 560px;
    height: 84px;
}

.textoFoto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.textoFoto img{
    height: 80px;
}

.textoFoto p{
    font-size: 15px;
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.textoFoto strong{
    font-size: 15px;
    margin: 0px;
    margin-left: 5px;
}

.cantidad{
    margin: 0px;
    margin-right: 8px;
    font-size: 15px;
    align-self: center;
}

.precioProductoFinal{
    display: flex;
    justify-content: center;
    align-items: center;
}